small.description{
    font-size: small;
}
div#waiting {
    background: rgba(181, 180, 178,0.5) none repeat scroll 0 0;
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2147483647 !important;
}
#waiting .msg {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #777;
    border-top: 1px solid #777;
    height: 150px;
    margin-top: 20%;
    width: 100%;
}
.datepicker.dropdown-menu {
    background: #fff ;
}
.message {
    position: fixed;
    top: 116px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 999;
}
.calculatrice {
    background: #FFF;
    padding: 5px 9px;
    border: solid 1px #BBB;
    box-shadow: 0 0 3px #DDD;
    border-radius: 2px;
}
.article {
    clear: both;
    text-align: justify;
}
.titre-article {
    color: #ea4444;
    clear: both;
}
.description {
    border-left: 1px solid #aaa;
    padding-left: 10px;
}
.separateur{
    background-color: #ea4444;
    height: 3px;
    width: 150px;
    margin-bottom: 30px;
    margin-top: 20px;
    color:#777;
    font-weight: normal;
}
.titre {
    text-align: left;
}
.box{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #fff;
    padding: 5px 20px 20px;
    text-align: center;
}
.step.active {
    color: #000;
}
.step {
    float: left;
    width: 156px;
    text-align: center;
    color: #ccc;
}
.step .round {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 70px;
    width: 70px;
}
.step.active .ring, .step.done .ring {
    background-color: #ea4444;
}
.ring {
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: #eee;
}
.ring.one {
    top: 0;
    right: 0;
    border-radius: 0 100% 0 0;
}
.ring.two {
    bottom: 0;
    right: 0;
    border-radius: 0 0 100% 0;
}
.ring.three {
    bottom: 0;
    left: 0;
    border-radius: 0 0 0 100%;
}
.ring.four {
    top: 0;
    left: 0;
    border-radius: 100% 0 0 0;
}
.cutout {
    padding-top: 6px;
    text-align: center;
    width: 60px;
    height: 60px;
    background-color: white;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    border: 1px solid #ccc;
}
.step.active .title {
    color: #000;
    border-bottom: 3px solid #ea4444;
}
.step .title {
    margin: 12px 0 0 0;
    padding-bottom: 7px;
    border-bottom: 3px solid #777;
}
.title{
    font-weight: 600;
    font-size: 16px;
}
.steps {
    padding-bottom: 0!important;
    border-bottom: 2px solid #ea4444;
}
.ibox-content {
    clear: both;
}
.ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0px;
}
.cutout .time {
    display: block;
    font-weight: 700;
    font-size: 36px;
}
.clearfix{
    clear: both;
}
.bg-no-valid-account{

}
.question{
    font-size: 34px;
}
.response{
    color: #1A2C3A;
}
p.citation {
    /*border: solid 1px rgba(26, 44, 58, 0.5);*/
    text-align: left;
    padding: 0px 10px 25px;
    box-shadow: 4px 4px 12px #aaa;
}
p.citation:before{
    font-family: FontAwesome;
    color: #1A2C3A;
    font-size: 18px;
    margin-right: 5px;
    content: "\f10d";
}
p.citation:after{
    font-family: FontAwesome;
    color: #1A2C3A;
    font-size: 18px;
    margin-right: 5px;
    content: "\f10e";
    float: right;
}
.quote .citation q{
    margin-top: 0;
}
.square_150{
    width: 120px;
    height: 120px;
    display: inline-block;
}
.media h4.text-primary {
    color: #FF5C5C;
}
.partner{
    width: 234px;
    height: 218px;
}
.toselect:hover{
    cursor: pointer;
}
.about-us{
    font-size: 22px;
}

#btn {

}
.money{
    width: 200px;
    display: block;
}
.x200{
    height: 200px;
    width: 200px;
}
.no-background .box {
    background: none;
    margin-top: 50px;
    margin-bottom: 30px;
}
.element{
    float: left;
}
.element .state.active{
    background: #FF5C5C;
}
.element .state{
    font-weight: bold;
    color: #ffffff;
    background: #999999;
    border-radius: 15px;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 0 2px 0 12px;
    padding: 4px 1px 1px 1px;
}
.element .state span{
    color: #777777;
}

.bar{
    border-bottom: solid 1px #d4d4d4;
    display: inline-block;
    position: relative;
    top: -4px;
    margin: 0 5px;
    width: 60px;
}
.photo img#pp{
    width: 212px;
    border: 1px solid #777777;
    padding: 5px;
}
.dropdown-point .dropdown-menu{
    top:30%;
}